*.iml
.gradle

/build
/captures

/local.properties

/.idea/caches
/.idea/codeStyles
/.idea/dataSources
/.idea/httpRequests
/.idea/libraries
/.idea/shelf

/.idea/$CACHE_FILE$
/.idea/assetWizardSettings.xml
/.idea/dataSources.local.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/workspace.xml

.DS_Store
.externalNativeBuild
.cxx
.floo
.flooignore
